.posts {
  flex: 9;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: -140px auto 20px auto;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 520px) {
  .posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
}
