.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 520px) {
  .posts {
    flex: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20px auto;
  }
}
