.nav {
  top: 0;
  background-color: white;
  padding: 0 2rem;
  height: 0;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
  position: fixed;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  z-index: 9999;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-Icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-Icons i {
  font-size: 1.4rem;
  color: #3f4954;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

.nav .nav-items .nav-link:hover {
  color: #104f55;
  font-weight: 500;
}

.collapse {
  height: 10vh;
}

.nav .social {
  padding: 1.4rem 0;
}

.text-gray {
  color: #3f4954 !important;
}

.nav .social i {
  padding: 0.2rem;
}

.nav .social i:hover {
  color: #1caf3c;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}

/* Viewport less then or equal to 750px */

@media only screen and (max-width: 750px) {

  .nav {
    height: 0;
    margin: 0 auto;
    position: sticky;
    width: 100%;
    /* margin-bottom: 30vh; */
  }

  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav .toggle-collapse {
    display: initial;
  }
  .nav .nav-items .current {
    background: transparent;
    color: #104f55;
    font-weight: bolder;
    padding: 0;
  }

  nav .toggle-collapse,
  .current {
    width: 100% !important;
    background: transparent;
    color: #104f55;
    font-weight: bolder;
    padding: 0;
    height: 0;
  }

  .collapse {
    height: 33rem;
  }
}

/* Viewport less then or equal to 520px */

@media only screen and (max-width: 520px) {
  .nav {
    height: 10vh;
    margin: 0 auto;
    position: sticky;
    width: 100%;
  }

  nav .toggle-collapse,
  .current {
    width: 70% !important;
    background: transparent;
    color: #104f55;
    font-weight: bolder;
    padding: 0;
    margin: 0 auto;
    height: 0;
  }

  .collapse {
    height: 33rem;
  }
}