.home {
  display: flex;
  margin: 0 auto;
  margin-bottom: -5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 15vh;
}

 .logosmall {
    display: none;
  }
  
.headerTitleSm {
  top: 0%;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 8vh;
  }

  .logosmall {
    display: none;
  }

  .headerTitleSm h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 520px) {
  .header {
    min-height: 8vh;
  }

  .headerTitles {
    margin: 50px auto;
  }

  .headerTitleSm h3 {
    margin: 60px auto;
  }
  .logoLeft {
    display: none;
  }

   .logosmall {
     display: block;
    margin-top: 20px;
  }

  .home {
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    min-height: 8vh;
  }

  .headerTitles {
    margin: 50px auto;
  }

  .headerTitleSm h3 {
    margin: 60px auto;
    margin-left: 50px;
  }
  .logoLeft {
    margin: -50px auto;
  }

  .home {
    margin-bottom: 0rem;
  }
}
