.home {
  display: flex;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 15vh;
}

.headerTitleSm {
  top: 0%;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  .header {
    min-height: 8vh;
  }

  .headerTitles {
    margin: 50px auto;
  }

  .logoLeft {
    /* margin: -50px auto -50px -150px; */
  }

  .headerTitleSm h3 {
    margin-top: 8%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 520px) {
  .header {
    min-height: 8vh;
  }

  .headerTitles {
    margin: 50px auto;
  }

  .headerTitleSm h3 {
    margin: 60px auto;
  }
  .logoLeft {
    margin: -50px auto;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    min-height: 8vh;
  }

  .headerTitles {
    margin: 50px auto;
  }

  .headerTitleSm h3 {
    margin: 60px auto;
    /* margin-left: 50px; */
  }
  .logoLeft {
    margin: -50px auto;
  }
}
